


body {
    color: black;
    text-align: center;
}

.blue-text {
    color: skyblue; 
}

.pink-text {
    color: rgb(255, 192, 203) ;
}
    


























