


h1,p,body{
    margin: 0px;
}

body{
     border: solid 3px gray;

}  


a,p{
    font-size: 20px;
}

#parent{
    text-align: center;
    justify-items: center;
}

#contents{

    display: inline-block;  
    @media screen {

}


header{
    margin: 0px auto 20px;
    background-color: rgb(244, 79, 79);
    text-align: center;
}

main{
    margin: 10px;
}

h1{
    color: rgb(255,255,255);
}


h2::before{
    content: "●";
    color: plum;

}

footer{
    text-align: center;
    margin: 0px auto 10px;
    background-color: rgb(244, 79, 79);
    color: rgb(255,255,255);


}

