


h1,p,body{
    margin: 0px;
}
a,p {
    font-size: 20px;
}

body{
     border: solid 3px gray;
     text-align: center;

}  

header{
    margin-bottom: 20px;
    background-color: rgb(244, 79, 79);
}
h1{
    color: rgb(255, 255, 255);

}


main{
    padding: 10px;
}

p:nth-of-type(2)::first-letter{
    color: rgb(97,206,249);
    font-weight: bold;
}

h2{
    font-size: 25px;
    font-weight: bold;
    border-bottom: 3px dotted;
    border-bottom-color: rgb(236, 122, 122);

}
 h2::before{
        content: "●";
        color: rgb(239, 111, 139);
     }


#parent  {
    display: flex;
    flex-wrap: nowrap;
    /* text-align: center; */
    justify-content: space-around;
}

.contents{
    /* box-sizing: border-box; */
    border: 3px solid rgb(238, 204, 204);
    flex-basis: 25%;
    margin: 20px 0;
    padding: 10px 15px;

}
.contents img{
    margin: 10px 0;
    width: 70%
}


@media screen and (max-width: 768px) {
   #parent{ 
    display: block;
    }
    h2{
        font-size: 30px;

    } 
   p{
    font-size: 25px;
   }
}


header{
    margin: 0px auto 20px;
    background-color: rgb(244, 79, 79);
    /* text-align: center; */
}

main{
    margin: 10px;
}

h1{
    color: rgb(255,255,255);
}


footer{
    /* text-align: center; */
    background-color: rgb(244, 79, 79);
}

a{
    color: rgb(255, 255, 255);
}
a:visited{
    color: rgb(193,234,251);
}
a:hover{
    color: rgb(245, 178, 168);

}

