p,a,h1,h2,h3,div,body,header,main,footer{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

p{
    font-size: 15px;

}

body{
    font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN",Meiryo, Arial, sans-serif;
    max-width: 1080px;
    margin:0 auto 0 auto;

}

header{
    display: flex;

    /* justify-content: space-between; */
    justify-content: flex-start;
}

#logo{
    margin-right: 20px;
}

ul{
    padding: 0;
}
li{
    list-style: none;
    margin-right: 20px;
}



/* ナビゲーションのレイアウト */

#nav-pc{
    font-size: 14px;
}

#nav-pc ul{
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 300px;
}
#nav-pc li{
    list-style: none;
}

#nav-pc a{
    text-decoration: none;
    margin-left: 20px;
    color: #0d0d0d;
}

#nav-pc a:hover{
    text-decoration: underline;
}

/* メインビジュアル */
#main-visual{
    position: relative;
    height: 470px;
}

#main-message{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #2710d5;
    color:#ffffff;
    border-radius: 0 0 476px 0;
    max-width: 450px;
    height: 400px;
    width: 100%;
    z-index: 11;
}

#main-message > h1 {
    position:absolute;
    top: 50px;
    font-size: 60px;
    margin: 100px 0 0 50px;
}
#main-message > p{
    position: absolute;
    top:130px;
    font-size: 28px;
    margin:0 0 0 50px
}

#main-visual img{
    max-width: 620px;
    height: 400px;
    border-radius: 478px 0 0 0;
    position: absolute;
    top:0;
    right:0;
    z-index: 10;
}

/* 見出し */
h2{
    position: relative;
    margin-top: 40px;
}

h2::after{
    content: url("images/line.png");
    margin-left: 10px;
}

h3{
    font-size: 27px;
}

/* ミッション */

#mission{
    width: 90%;
    max-width: 1080px;
    margin: 80px auto
}

#mission-flex{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 20px;
}

#mission-flex > div {
    min-width: 300px;
    margin: 20px;
}

#mission-photo{
    width: 100%;
    height: auto;
}

#s2dgs{
    margin-top: 50px;
    width: 100%;
    height: auto;

}
/* プロダクト */

.product-flex{
    display: flex;
    position: relative;
    margin-top: 40px;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#product-left{
    position: relative;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    margin-right: 20px;
    margin-top: 0px;
}
#product-right{
    position: relative;
    /* position: absolute; */
    /* top: 100px; */
    /* left: 50%; */
    width: 100%;
    margin-left: 20px;
    margin-top: 150px;
    /* margin-bottom: -150px; */
    /* マージンを定義するならここじゃないかな？しかも、margine-bottom　-150px */
}
#produt-left > div{
    height: 480px;
    margin-right:20px;
    margin-top: 0;
}

#product-right > div{
    top: 0px;
    height: 10px;
    margin-left: 20px;
    margin-top: 0px;
    /* margin-bottom: 150px; */
    /* なんでここにmargin-bottomが必要なのか分からない。入れるとしても-150pxじゃないのかな？*/
    /* 上の写真と下の写真を分割するときに必要なマージン　by先生 */
}

.product-photo{
    width: 100%;
}

.product-explain{
    background-color: #ffffff;
    position: relative;
    /* なんでここにposition:relativeなの？ */
    /* relative のボトムからの距離を下のそれで指定。結果写真とテキストが重なった感じにできる。
    その為にrelativeの設定が必要 */
    left: 0px;
    bottom: 100px;
    margin: 10px 40px 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

}

.product-explain > span{
    color:#2710d5;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.product-explain > h3{
    margin: 5px 0;
}

.product-explain > p{
    font-size: 14px;
    margin: 0;
}

#product-more {
    text-align: center;
    margin-top: 0px;
}
#product-more a{
    position: relative;
    bottom: 42px;
}

/* about us */

#aboutus{
    margin: 80px auto;
}
#aboutus > div{
    display: flex;
    text-wrap: wrap;
    position: relative;
}

.culture-img{
    width: 50%;
    align-self: flex-start;
}
.culture-img2{
    margin-top: 50px;
    width: 100%;
}
.culture-table{
    margin-right: 50px;
}

.culture-num{
    font-size: 80px;
    color: #2710d5;
    padding: 0 20px 0 0 ;
}

.culture-table th{
    text-align: left;
    font-weight: bold;
}

.culture-en{
    color: #2710d5;
    font-size: 24px;
}
.culture-description{
    margin: 0;
}


/* ビジョン */
#vision{
    margin: 80px auto;
}

#vision > div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vision-box{
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    position: relative;
}

.vision-box > img{
    width: 100%;
    position: relative;
    z-index: 30;
}
.vision-box > div{
    position: absolute;
    top: 20px;
    left: 0;
    margin-right: 20px;
    text-wrap: wrap;
    z-index: 31;
}

.vision-box > div> h4{
    color: #2710d5;
    font-size: 19px;
    margin-top: 80px 0 0 0;
} 
.vision-box > div > h4::first-letter{
    font-size: 40px;
}

.vision-box > div > h5{
    font-size: 20px;
    margin: 0;
}
.vision-box > div > p{
    margin: 0px 0 0 0;
}

#company{
        margin: 80px auto;
}
#company-table{
    width: 100%;
}
.tableheader{
    text-align: left;
    padding: 20px;
    border-bottom-color: #2710d5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100px;
}
.tableheader-first {
    border-top-color: #2710d5;
    border-top-width: 1px;
    border-top-style: solid;
  }
  
  .cell {
    padding: 30px;
    border-bottom-color: #ececec;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  
  .cell-first {
    border-top-color: #ececec;
    border-top-width: 1px;
    border-top-style: solid;
  }

  #company > iframe{
    width: 100%;
    height: 368px;
    margin-top: 40px;
  }

  /* お問い合わせ */
#contact{
    margin: 80px auto;
}

#contact > form > div{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.contact-heading{
    width: 240px;
    align-self: center;
}
.contact-label{
    font-weight: bold;
}
.contact-span{
    color: #ce2222;
    margin-left: 20px;
    font-weight: bold;
}

.contact-textbox{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: #707070;
    border-bottom-width: 1px;
    border-style: solid;
    background-color: #fafafa;
    width: 400px;
    height: 56px;
}
.contact-textarea{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: #707070;
    border-bottom-width: 1px;
    border-style: solid;
    background-color: #fafafa;
    width: 400px;
    height: 200px;
}

#contact dt {
    font-weight: bold;
  }
  
  #contact dd {
    margin: 0 0 16px 0;
  }
  
  #contact dd p {
    margin: 0;
  }
  
  #contact dd ul {
    padding-left: 0;
  }
  
  #contact dd li {
    margin-bottom: 0;
    list-style: none;
  }

  footer{
    background-color: #0d0d0d;
    text-align: center;
    padding: 80px 80px 30px 80px;
  }
  #footer-logo{
    margin-bottom: 30px;
  }
  
#sns-footer{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
#sns-footer a{
    margin-right: 30px;
}
#copyright{
    color: #fff;
    margin: 0;
}
#footer-link{
    margin-bottom: 50px;
}
footer:link > a{
    text-decoration: none;
    justify-content: space-around;
    margin: 10px;
    color: #fff;
}
footer-link > a:hover{
    text-decoration: underline;
}