

html {
    font-size: 20px;
}

body {
    color: black;
    text-align: center;
    font-family: "Arial", "Meiryo", sans-serif;
    border: solid 3px rgba(208, 212, 208,0.5);

}

h1 {
    font-family: "Josefin Sans";
    font-size: 2rem;
    letter-spacing: 48px;
    border-bottom: solid 3px rgb(115,115,114);

}

.blue-text {
    color: skyblue; 
}

.pink-text {
    color: rgb(255, 192, 203) ;

}
    
#parent > p {
    font-weight: bold;

}



























